.containers {
  background-color: #f7f7f2;
  display: flex;
  padding: 24px;
  border-radius: 20px;
  color: #474448;
  gap: 24px;
  flex-direction: column;
}

.title {
  color: #ffa000;
}

.abilities_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 12px;
  justify-items: start;
  justify-content: space-around;
}

.ability_item {
  font-size: 1.2rem;
}

.text {
  text-align: center;
  padding: 0 110px;
}

.text_author {
  text-align: right;
}
