.container {
  background-color: #239089;
  display: flex;
  padding: 24px;
  border-radius: 12px;
  color: #f7f7f2;
  flex-direction: column;
  gap: 24px;
}
.title {
  color: #ffa000;
}
.content_container{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
}

.content{
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  align-items: start;

}

.data_container{
  line-height: 1.2;
  display: grid;
  gap: 24px;
  padding-left: 12px;
}
.form{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 12px;
}

.text{
  width: 300px;
}

.message{
  height: 150px;
}