.containers {
  background-color: #f7f7f2;
  display: flex;
  padding: 24px;
  border-radius: 20px;
  color: #474448;
  gap: 24px;
  flex-direction: column;
}

.title {
  color: #ffa000;
}
.experience_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 15px;
}

.subtitle_container{
  line-height: 1.2;
}

.list_container{
  line-height: 1.2;
  padding-left: 25px;
  padding-top: 15px;
}

.title_exp{
  color: #239089;
}
